[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP
	ignore = dirty
[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/electro-smith/libDaisy
	ignore = dirty
